@media (max-width: 2000px) and (min-width: 1100px){
    .p1-r{
      display: none;
    }
    .p2-r{
      display: none;
    }
    .p3-r{
      display: none;
    }
    .p4-r{
      display: none;
    }
    .p5-r{
      display: none;
    }
    .p6-r{
      display: none;
    }
    .p7-r{
      display: none;
    }
  }